body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}
.product-details {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.product-item {
  display: flex;
  /* background-color: #fff; */
  padding: 20px;
}
.product-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-image {
  width: 80%;
  height: auto;
  border-radius: 10px;
}
.thumbnails {
  display: flex;
  justify-content: center;
  margin-top: 7px;
}
.thumbnail {
  width: 60px; /* Thumbnail size */
  height: auto;
  margin: 0 5px;
  cursor: pointer;
  border: 1px solid #cccccc67; /* Optional styling */
  transition: transform 0.2s;
}

.thumbnail:hover {
  transform: scale(1.5); /* Enlarge on hover */
}

.product-right {
  flex: 1;
}
h1 {
  font-size: 32px;
  margin-bottom: 10px;
}
.description {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}
.sizes {
  margin-bottom: 15px;
}
.price {
  font-size: 24px;
  color: #e74c3c;
  margin-bottom: 20px;
}
.quantity-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quantity {
  display: flex;
  align-items: center;
}
.quantity label {
  margin-right: 10px;
}
.quantity button {
  width: 30px;
  height: 30px;
  font-size: 18px;
}
.add-to-cart {
  background-color: #3498db;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
}
.add-to-cart:hover {
  background-color: #2980b9;
}
.related-products {
  margin-top: 40px;
}
.related-products h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.carousel {
  display: flex;
  overflow-x: auto;
}
.carousel-wrapper {
  display: flex;
}
.carousel-items {
  display: flex;
}
.carousel-item {
  background-color: #fff;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 200px;
  text-align: center;
}

.product-right .quantity {
  color: green;
  font-weight: 500;
  font-size: 20px;
}

.product-info {
  margin: auto;
  padding-top: 50px;
}

.product-features .features img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.product-features .features {
  min-height: 270px;
  height: 270px;
}

